@import "src/scss/variables";

.circle {
  position: relative;
}

.wrapperDate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wrapperControl {
  padding-left: 80px;
  margin-top: -40px;
  margin-bottom: 56px;
  @media screen and (max-width: 550px) {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 20px;
  }
}

.date {
  position: absolute;
  @media screen and (max-width: 550px) {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
  }
}

.title {
  display: none;
  @media screen and (max-width: 550px) {
    padding: 0 20px 30px 20px;
    display: block;
    color: $text--primary;
    font-size: 18px;
    font-weight: 700;
  }
}

.container {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid $circle--primary;
  position: relative;
  @media screen and (max-width: 550px) {
    display: none;
  }
}

.block {
  cursor: pointer;
  width: 56px;
  height: 56px;
  position: absolute;
  top: -28px;
  left: 237px;
  transform-origin: 28px 293px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    background-color: $bg--primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border: 1px solid $circle--small;
    border-radius: 50%;
    color: $text--primary;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    position: relative;

    span {
      left: 71px;
      position: absolute;
      font-weight: 700;
      color: $text--primary;
      font-size: 20px;
      line-height: 30px;
      animation-fill-mode: forwards;
      animation-name: title;
      animation-duration: 0.5s;
    }
  }
}

.emptyBlock {
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: $text--primary;
}

.animeHover {
  animation-fill-mode: forwards;
  animation-name: animeHover;
  animation-duration: 0.35s;
}

@keyframes animeHover {
  0% {
    opacity: 0;
    background: $text--primary;
  }
  100% {
    opacity: 1;
    background: $bg--primary;
  }
}

@keyframes title {
  0% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
