@import "src/scss/variables";

.buttonPrev {
  background-color: white;
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.buttonPrev::after {
  content: "";
  position: absolute;
  z-index: 11;
  display: block;
  width: 8px;
  height: 8px;
  border-top: 2px solid $date--blue;
  border-left: 2px solid $date--blue;
  top: 16px;
}

.buttonPrev::after {
  left: 17px;
  transform: rotate(-45deg);
}
