@import "src/scss/variables";

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  width: 100%;
  max-width: 353px;
  word-break: break-word;
  color: $text--primary;

  @media screen and (max-width: 1024px) {
    font-size: 38px;
    max-width: 250px;
    line-height: 120%;
  }

  @media screen and (max-width: 768px) {
    font-size: 20px;
    max-width: 123px;
    line-height: 120%;
  }
}
