$bg--primary: #f4f5f9;
$bg--gradient: linear-gradient(180deg, rgba(56, 119, 238, 1) 0%, rgba(239, 93, 168, 1));

$text--primary: rgba(66, 86, 122);
$round--primary: rgba(66, 86, 122, 0.2);
$line--primary: rgba(66, 86, 122, 0.1);
$round--small: rgba(48, 62, 88, 0.5);
$line--hover: rgba(66, 86, 122, 0.75);

$date--purple: #5d5fef;
$date--pink: #ef5da8;
$date--blue: #3877ee;
