@import "src/scss/variables";

.slider {
  animation: animeHover 1.5s forwards;
  position: relative;
  padding: 0 80px;

  @media screen and (max-width: 550px) {
    padding: 0 20px;

    .prevButton,
    .nextButton {
      display: none;
    }
  }
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50px;

  @media screen and (max-width: 550px) {
    display: none;
  }
}

.prevButton {
  left: 20px;
}

.nextButton {
  right: 20px;
}

.swiper {
  position: static !important;
  cursor: grab;
}

.swiper-pagination {
  display: none;

  @media screen and (max-width: 550px) {
    display: block;
  }

  @media screen and (max-width: 300px) {
    padding-bottom: 70px;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: $circle--small;
  width: 6px;
  height: 6px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: $text--primary;
}

@keyframes animeHover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
